.cardProducts{
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 0.5em;
}

.cardProducts:hover{
  outline: 1px solid #fff;
}

.cardProducts > img {
  width: 18em;
}

.cardProducts > p{
  width: 50%;
  text-align: center;
}

@media screen and (min-width: 280px) and (max-width: 600px) {
  .cardProducts{
    width: 100%;
  }
}